<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sxgkd.entity.IStudentMapper">
    <sql id="queryWithGranameAndAge">
        <if test="graName != null and graName !='' ">
            and graName like '%${graName}%'
        </if>
        <if test="stuAge != null and stuAge > 0">
            and stuAge = #{stuAge}
        </if>
    </sql>
    <insert id="addStudent" parameterType="student">
        insert into student(stuNo, stuName, stuAge, graName)
        values (#{stuNo}, #{stuName}, #{stuAge}, #{graName})
    </insert>
    <delete id="deleteStudentByNo" parameterType="int">
        delete from student where stuNo=#{stuNo}
    </delete>
    <update id="updateStudentByNo" parameterType="student">
        update student
        set stuName=#{stuName},
            stuAge=#{stuAge},
            graName=#{graName}
        where stuNo=#{stuNo}
    </update>
    <select id="queryStudentByNo" parameterType="int"
            resultType="student">
        select *
        from student
        where stuNo = #{stuNo}
    </select>
    <select id="getAllStudents" resultType="student">
        select *
        from student
    </select>
    <select id="testQueryStudentByNoWithOGNL" parameterType="student" resultType="student">
        select stuNo,stuName,stuAge,graName from student
        <where>
            <include refid="queryWithGranameAndAge"></include>
        </where>
    </select>
    <select id="queryStudentWithForeach" parameterType="grade" resultType="student">
        select * from student
        <where>
            <if test="stuNos != null and stuNos.size > 0">
                <foreach collection="stuNos" open="stuNo in(" close=")" item="stuNo" separator=",">
                    #{stuNo}
                </foreach>
            </if>
        </where>
    </select>
    <select id="queryStudentWithForeachAndList" parameterType="java.util.List" resultType="student">
        select * from student
        <where>
            <if test="list != null and list.size>0">
                <foreach collection="list" open="stuNo in(" close=")" item="stuNo" separator=",">
                    #{stuNo}
                </foreach>
            </if>
        </where>
    </select>
    <select id="queryStudentWithForeachAndArray" parameterType="int[]" resultType="student">
        select * from student
        <where>
            <if test="array != null and array.length > 0 ">
                <foreach collection="array" open=" stuNo in(" close=")" item="stuNo" separator=",">
                    #{stuNo}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryStudentWithForeachAndObjectArray" parameterType="Object[]" resultType="student">
        select * from student
        <where>
            <if test="array != null and array.length > 0">
                <foreach collection="array" open=" stuNo in(" close=")" item="student" separator=",">
                    #{student.stuNo}
                </foreach>
            </if>
        </where>
    </select>
</mapper>