<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://mybatis.org/schema/mybatis-spring
                http://mybatis.org/schema/mybatis-spring-1.2.xsd
                http://www.springframework.org/schema/tx 
                http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
                http://www.springframework.org/schema/aop
                https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="config" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:db.properties</value>
            </list>
        </property>
    </bean>

    <bean id="datasource"
          class="com.alibaba.druid.pool.DruidDataSource"
          destroy-method="close"
    >
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
        <property name="maxActive" value="10"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="datasource"/>
        <property name="mapperLocations" value="StudentMapper.xml"/>
        <property name="configLocation" value="mybatis-config.xml"/>
    </bean>


    <mybatis-spring:scan base-package="cn.edu.sxgkd.dao"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg ref="datasource"/>
    </bean>
    <context:component-scan base-package="cn.edu.sxgkd.service,cn.edu.sxgkd.dao"/>

    <aop:config>
        <aop:pointcut id="txPointCut" expression="execution(* cn.edu.sxgkd.service..*.*(..))"/>
        <aop:advisor advice-ref="testTx" pointcut-ref="txPointCut"/>
    </aop:config>

    <tx:advice id="testTx" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="add*"
                       isolation="READ_COMMITTED"
                       propagation="REQUIRES_NEW"
                       rollback-for="Exception"
                       read-only="false"
                       timeout="10"/>
        </tx:attributes>
    </tx:advice>

    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>